
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div>
        <h1>Welcome to Student Management System, wish you a happy life</h1>
    </div>
</body>
</html>

