@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    <br />
    1. Admissions : <br />
    The Student Management System software is created to help manage the student's admissions activities, starting from initial communication to course enrolment.<br />
    <br />

    2. Billing and Payments : <br />
    The Payments paid or received can also be managed and recorded through Student Management System; unlike invoice generation, credit notes, refunds, etc., SMS stores all the necessary information about parents and staff suppliers, and contractors.<br />
    <br />

    3. Reporting : <br />
    Reporting feature benefits the schools to analyze the trends in student behavior and examine the outcomes to boost their performance.<br />
    <br />

    4. Tracking Student's Fees : <br />
    Fee tracking is one of the most beneficial features of this online software.<br />
    The school administration department can track billing dates, induce late fee penalty, generate invoice, and automatically gets the report of received payments throughout the year.</ br>
</p>
