@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    At post Mangrul,<br />
    Tal.Mangaon,Raigad<br />
    <abbr title="Phone">Phone:</abbr>
    7057441433
</address>

<address>
    <strong>Company Mail:</strong>   <a href="CompanyMail@zensar.com">siddhesh.ghosalkar@zensar.com</a><br />
    <strong>Personal Mail:</strong> <a href="PersonalMail@gmail.com">siddheshghosalkar999@gmail.com.com</a>
</address>