@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/IndexStyle/CSS")

@{
    var date = DateTime.Now.ToShortDateString();
}

<div class="jumbotron">
    <h2>SID STUDENT MANAGEMENT SYSTEM</h2>
    <p class="lead">Welcome To Student Management System</p>
</div>
<div class="alert alert-warning" role="alert">
    Helps Teachers To Reach Students Data !
</div>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>SSMS Information</h2>
        <p>
            A student management system helps a school manage data, communications, and scheduling.A school system generates and uses a large amount of data. This data must be communicated appropriately to students, faculty, and parents.
        </p>
    </div>
    <div class="col-md-8">
        <h2>Top 5 Courses For Students</h2>
        <p>
            1.Java -<br />
            Java is one of the most popular programming languages in use, so it’s no surprise it came in as the No. 1 skill tech companies were looking for.<br />
            <br />
            2.SQL -<br />
            Pronounced “sequel,” SQL stands for Structured Query Language, and it is a special-purpose programming language used for getting information from and updating databases.<br />
            <br />
            3.C# -<br />
            C++ is a general purpose programming language that can be used to create small programs or large applications. In 2013, C++ was CyberCoders’ most in-demand programming language skill.<br />
            <br />
            4.Python -<br />
            Python is a general-purpose, high-level programming language with an emphasis on code readability. It’s one of the easier programming languages to learn, with its use of common words and expressions.<br />
            <br />
            5.Javascript -<br />
            Javascript is a scripting language, often used to make web pages interactive. It’s text-based, written in an HTML document and run through a web browser.<br />
        </p>
    </div>
</div>